<footer class="site-footer">
  <div class="icon-bar">
    <ul>
      <li>
        Github page: {% if site.github_username %}
        {% include icon-github.html username=site.github_username %}
      </li>
      {% endif %}
      <br>
      <li>
        ORCID: <a href="https://orcid.org/0000-0003-1170-0785">0000-0003-1170-0785</a>
      </li>
    </ul>
    <ul>
      <li>
        Apart from the Github logo, all other pictures on this blog have been made by me.
      </li>
    </ul>
  </div>

</footer>
