<footer class="site-footer">
  <div class="icon-bar">
    <ul>
      <li>
        Github page: {% if site.github_username %}
        {% include icon-github.html username=site.github_username %}
      </li>
      {% endif %}
    </ul>
    <ul>
      <li>
        Gitlab page: <a href='https://gitlab.inria.fr/abelcour'><img src="/blog/images/icon-gitlab.png" alt="gitlab_icon" width="30" height="30"></a>
        <a href='https://gitlab.inria.fr/abelcour'>abelcour</a>
      </li>
    </ul>
  </div>

</footer>