<footer class="site-footer">
  <div class="icon-bar">
    <ul>
      <li>
        Github page: {% if site.github_username %}
        {% include icon-github.html username=site.github_username %}
      </li>
      {% endif %}
      <li> <br>
        ORCID page: <div itemscope itemtype="https://schema.org/Person"><a itemprop="sameAs" content="https://orcid.org/0000-0003-1170-0785" href="https://orcid.org/0000-0003-1170-0785" target="orcid.widget" rel="me noopener noreferrer" style="vertical-align:top;"><img src="https://orcid.org/sites/default/files/images/orcid_16x16.png" style="width:1em;margin-right:.5em;" alt="ORCID iD icon">Arnaud Belcour</a></div>
      </li>
    </ul>
    <ul>
      <li>
        Apart from the Github and ORCID logos, all pictures on this blog have been made by me.
      </li>
    </ul>
  </div>

</footer>
