<header class="site-header">
  <div id="header_background">
    <ul>
      <li>
        <a href="{{site.baseurl}}/">Home</a>
      </li>
      <li>
        <a href="{{site.baseurl}}/pages/posts/">Posts</a>
      </li>
      <li>
        <a href="{{site.baseurl}}/pages/publications/">Publications</a>
      </li>
      <li>
        <a href="{{site.baseurl}}/pages/tools/">Tools</a>
      </li>
      <li>
        <a href="{{site.baseurl}}/pages/cv/2023_postdoc">Bio</a>
      </li>
    </ul>
  </div>

</header>