<header class="site-header">
  <div id="header_background">
    <ul>
      <li>
        <a href="{{ "/" | prepend: site.baseurl }}">Home</a>
      </li>
      <li>
        <a href="{{ "/pages/posts/" | prepend: site.baseurl }}">Posts</a>
      </li>
      <li>
        <a href="{{ "/pages/publications/" | prepend: site.baseurl }}">Publications</a>
      </li>
      <li>
        <a href="{{ "/pages/tools/" | prepend: site.baseurl }}">Tools</a>
      </li>
      <li>
        <a href="{{ "/pages/bio_pages/bio/" | prepend: site.baseurl }}">Bio</a>
      </li>
    </ul>
  </div>

</header>