<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

  <!-- HEAD -->
  {% include head.html %}

  <body>
    <!-- HEADER -->
    {% include header.html %}

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">
        {{ content }}
      </section>
    </div>
  </body>

    <!-- FOOTER  -->
    <div id="footer_wrap">
      <footer class="inner">
        {% include footer.html %}
      </footer>
    </div>
</html>